<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Permabot - Your social media posts/threads on the permaweb forever</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      form .error {
        color: #ff0000;
      }

      .nav, .pagination, .carousel, .card-title a { cursor: pointer; } /*Fix for Ui-Bootstrap*/
    </style>
   
  </head>
  <body class="bg-light">
      
    <div class="container">
        <div class="py-1 text-center">
            
            <h2>Permabot</h2>
            <p class="lead">Your social media posts/threads on the permaweb forever.</p>
        </div>

        <div class="row">
            <div class="col-12">
                {{{ body }}}
            </div>
        </div>

        
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2020 NervSparks</p>
            <ul class="list-inline">
            
            </ul>
        </footer>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/secure-ls@1.2.6/dist/secure-ls.min.js" integrity="sha256-TKDfV+hnUSaiKHtLDyQIlpPuLwgERvTndnMZlYrmbM0=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/arweave/bundles/web.bundle.js"></script>



        {{{_sections.script}}}

    </body>
</html>